.home-container {
    min-height: calc(100vh - 120px); /* header + footer height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    font-family: 'Creepster', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-container>h1:first-child {
    font-size: 4rem;
    text-align: center;
}

.home-container>h1:nth-child(2) {
    font-size: 3.5rem;
    text-align: center;
}