main.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 40px;
    font-family: 'Creepster', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form.sightings-form {
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form.sightings-form input {
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

form.sightings-form textarea {
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

form.sightings-form label {
    margin-top: 0.5rem;
}

form.sightings-form .submit-btn {
    margin-top: 1rem;
    padding: 0.9rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgb(35, 33, 33);
    color: white;
    border-radius: 0.6rem;
    border: 2px solid white;
    font-family: 'Creepster', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}