* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #040303;
    color: #f9f9f9;
    min-height: 100vh;
    padding-inline: 1rem;
}


/* * Background Image Overlay */ 
body::before {
    position: absolute;
    content: "";
    background:  url("./assets/jan-jakub-nanista-z9hvkSDWMIM-unsplash.jpg") no-repeat center center;
    background-size: cover;
    background-position: center 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.60;
    background-attachment: fixed;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-main {
    flex: 1;
}
